.img {
  height:100vh;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
  background-color: #000;
}

.imganimation{
  animation: gradient 1.2s ease;
}

@keyframes gradient {
0%  {filter: brightness(0)}
100% {filter: brightness(0.7)}
}

.imggone{
  animation: gone 0.5s ease;
  filter: brightness(0);
}

@keyframes gone {
0%  {filter: brightness(0.5)}
100%  {filter: brightness(0)}
}

.txt{
  padding:15px;
  text-align: center;
  position: absolute;
  bottom: -20vh;
  color: #efefef;
  line-height: 1.5;
  font-size: 1cm;
  width: calc(100% - 30px);
}

.btncontainer{
  position: absolute;
  width: 50vw;
  top: 125vh;
  font-size: 1cm;
  text-align: center;
}

.btn{
  margin:auto;
  font-size: 1.4cm;
  padding:30px;
}

.right{left: 50vw}

.animation{
  transform: translateY(-40vh);
  transition: transform 1.5s ease-in-out;
  will-change: transform;
}

.donecontainer{
  position:absolute;
  z-index: 99;
  bottom:-20vh;
  width:100vw;
  transform: translateY(-60vh);
  transition: transform 0.6s ease-in-out;
  will-change: transform;
}

.done{
  text-align:center;
  margin:auto;
  max-width:750px;
  width: calc(100vw - 50px);
}
.done > p{
  font: 400 18px/22px Roboto, "Helvetica Neue", sans-serif;
}
.done > button{
    font-size: 20px;
    padding: 5px 25px;
    background-color:#10c93c;
}

@media only screen and (max-width: 750px) {
  .btn{
    font-size: 1cm;
    padding:20px;
  }
  .btncontainer{top: 155vh}
  .txt{bottom: -50vh}
  .animation{transform: translateY(-80vh)}
}

.pointContainer{
  position:absolute;
  text-align: center;
  color: #efefef;
  font-size: 1cm;
  top: calc(100px - 1cm);
  width:100%;
  z-index: 2;

}
.pointLeft{
  margin-left:-45px;
}

.pointRight{
  margin-top: -10px;
  margin-left: 45px;
}

.points{
  width:100%;
  text-align: center;
  position: absolute;
  transform: rotate(25deg);
  top: 30px;
}
.leftpoint{
  background: #f44336;
  background: #f44336dd;
  display: inline-block;
  height: 100px;
  width: 50px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}
.rightpoint{
  background: #10c93c;
  background: #10c93cdd;
  display: inline-block;
  height: 100px;
  width: 50px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}
.rmv{
  visibility: hidden;
}
