<style>
.da-card {
  margin:auto;
  margin-top:10vh;
  max-width:700px;
  text-align: center;
}
@media only screen and (max-width: 750px) {
  .da-card {
    padding-top:50px;
    margin-top:-3px;
    padding-bottom:100vh;
  }
}
.onion{
  font-family: 'Kalam', sans-serif;
  font-weight: bold;
  color: #7B1FA2;
}
</style>
<mat-card class="da-card">
  <h1>Welcome to <a class="onion">Eating onions</a>!</h1>
  <p>
  This is a fun little game where you have to take a guess if an article is satire or real!
  </p>
  <p>
  This game is inspired by the Subreddit <a href="https://www.reddit.com/r/atetheonion" style="color:#7B1FA2">r/ateTheOnion</a> and <a style="color:#7B1FA2" href="https://www.reddit.com/r/nottheonion">r/notTheOnion</a>.
  </p>
  <p>
    The game is still in development, so please be gentle.
  </p>
  <p>
    You can try it right here:
  </p>
  <a href="game">
    <button style="margin:auto" mat-raised-button color=primary>
      Start!
    </button>
  </a>
  <img   alt="welcome"  style="width: calc(100% + 32px);margin: 20px -16px -22px -16px;" src="/assets/hello.webp">
</mat-card>
